certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
cycler==0.10.0
docopt==0.6.2
dpkt==1.9.1
elasticsearch==6.1.1
idna==2.6
Logbook==1.1.0
lxml==4.6.3
matplotlib==2.1.1
netifaces==0.10.6
numpy==1.14.0
pandas==0.22.0
pipreqs==0.4.9
py==1.10.0
pypacker==4.1
pyparsing==2.2.0
pyshark==0.3.6.2
python-dateutil==2.6.1
pytz==2017.3
requests==2.20.0
scikit-learn==0.19.1
scikit-neuralnetwork==0.7
scipy==1.0.0
six==1.11.0
Theano==1.0.1
trollius==1.0.4
urllib3==1.26.5
yarg==0.1.9
